<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/frontend">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/frontend/compsci">Tracker</a></li>
        <li class="fork"><a href="{{site.baseurl}}/frontend/blogs">Graphs</a></li>
        <li class="title"><a href="{{site.baseurl}}/frontend/help">Helps</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>