<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/passionproject/home">Home</a></td>
        <td><a href="{{site.baseurl}}/passionproject/input-data">Survey</a></td>
        <td><a href="{{site.baseurl}}/passionproject/graphs">Graphs</a></td>
        <td><a href="{{site.baseurl}}/passionproject/output">Response Summary</a></td>
        <td><a href="{{site.baseurl}}/passionproject/sample-code">Code</a></td>
        <td><a href="{{site.baseurl}}/passionproject/review-ticket">Review Ticket</a></td>
    </tr>
</table>